<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      Kommentera som <strong><%= current_user.name %></strong>
    </p>
    <p>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit 'Skicka', {'class' => 'button tiny'} %>
    </p>
<% end %>