<% @articles.each do |article| %>
    <div class="row article">
      <div class="titles">
        <h1><%= link_to article.title, article_path(article) %></h1>
        <h4 class="subheader"><%= link_to article.description, article_path(article) %></h4>
      </div>
      <% if article.youtube_id.empty? %>
          <%= link_to image_tag(article.image_link), article_path(article) %>
      <% else %>
          <iframe width="100%" height="495" src="//www.youtube.com/embed/<%= article.youtube_id %>" frameborder="0" allowfullscreen="">
          </iframe>
      <% end %>
      <div class="article-body">
        <% if article.category.presence %>
            <span class="label"><a href="/by_category/<%= article.category.slug %>">Kategori: <%= article.category.title %></a></span>
        <% end %>

        <span class="label success">Publicerad för <%= time_ago_in_words(article.publish_time) %> sen</span>
        <% if article.created_at != article.updated_at %>
            <span class="label alert">Senast uppdaterad för <%= time_ago_in_words(article.updated_at) %> sen</span>
        <% end %>

        <div class="row">
          <div class="small-12 columns">
            <div class="article-main-text"><%= auto_link(simple_format(article.body), :html => { :target => '_blank' }) %></div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="small-12 columns paginate">
    <div class="small-4 column">
        <% if @articles.previous_page %>
            <h3><%= link_to "< Föregående", params.merge(page: @articles.previous_page) %></h3>
        <% end %>
    </div>

    <div class="small-4 column">
      <% if @articles.current_page == 1 %>
        <h5>Don't forget, you're awesome</h5>
      <% elsif @articles.current_page != @articles.total_pages %>
        <h5>Bara <%= @articles.total_pages - @articles.current_page %> sidor kvar :)</h5>
      <% end %>
    </div>

    <div class="small-4 column text-align-right">
      <% if @articles.next_page %>
          <h3><%= link_to "Nästa >", params.merge(page: @articles.next_page) %></h3>
      <% end %>
    </div>
  </div>
</div>