<%= form_for @article do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:</h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :title, 'Titel' %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description, 'Underrubrik' %><br />
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :body, 'Artikelns innehåll' %><br>
      <%= f.text_area :body, size: '62x12' %>
    </p>

    <p>
      <%= f.label :youtube_id, 'Youtube-id (11 tecken)' %><br />
      <%= f.text_field :youtube_id %>
    </p>

    <p>
      <%= f.label :image_link, 'Länk till en bild för artikeln' %><br />
      <%= f.text_field :image_link %>
    </p>

    <p>
      <%= f.label :category_id, 'Väl en existerande kategori' %>
      <%= f.select(:category_id, options_for_select(@categories)) %>
    </p>

    <p>
      <%= f.label :publish_time, 'När ska artikeln publiceras (lämna tomt för direkt)' %>
      <%= f.datetime_select :publish_time %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>