<% @title = @article.title %>
<% @og_image_url = @article.youtube_id.empty? ? @article.image_link : "http://img.youtube.com/vi/#{@article.youtube_id}/0.jpg" %>
<% @og_subtitle = @article.description %>
<div class="row article">
  <div class="titles">
      <h1><%= @article.title %></h1>
      <h4 class="subheader"><%= link_to @article.description, article_path(@article) %></h4>
  </div>
  <% if @article.youtube_id.empty? %>
      <%= image_tag(@article.image_link) %>
  <% else %>
      <iframe width="100%" height="495" src="//www.youtube.com/embed/<%= @article.youtube_id %>" frameborder="0" allowfullscreen="">
      </iframe>
  <% end %>
  <div class="article-body">

    <div class="small-6 column share">
      <%= link_to 'Dela på facebook', 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, {class: 'button facebook', target: '_blank'} %>
    </div>

    <div class="small-6 column share">
      <%= link_to 'Dela på twitter', 'https://www.twitter.com/share?u=' + request.original_url, {class: 'button twitter', target: '_blank'} %>
    </div>
    <div class="small-12">
        <% if @category.presence %>
            <span class="label"><a href="/by_category/<%= @category.slug %>">Kategori: <%= @category.title %></a></span>
        <% end %>

        <span class="label success">Publicerad för <%= time_ago_in_words(@article.publish_time) %> sen</span>
        <% if @article.created_at != @article.updated_at %>
            <span class="label alert">Senast uppdaterad för <%= time_ago_in_words(@article.updated_at) %> sen</span>
        <% end %>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="article-main-text"><%= auto_link(simple_format(@article.body), :html => { :target => '_blank' }) %></div>
        </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <% if @article.comments.count == 0 and current_user %>
            <h2>Bli den första att kommentera!</h2>
        <% elsif @article.comments.count == 0 %>
            <h2>Logga in för att skriva en kommentar!</h2>
        <% else %>
            <h2>Kommentarer (<%= @article.comments.count %>)</h2>
        <% end %>

        <% @article.comments.each do |comment| %>
            <div class="comment">
                <p>
                  <strong><%= comment.user.name %></strong>, för <%= time_ago_in_words(comment.created_at) %> sedan
                </p>

                <p>
                  <%= auto_link(simple_format(comment.body), :html => { :target => '_blank' }) %>
                </p>
            </div>
        <% end %>

        <% if current_user %>
            <%= render "comments/form" %>
         <% end %>
      </div>
    </div>
  </div>
</div>