// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 100%;
}

.article {

  .article-main-text > p{
    font-size: 110%;
    margin-top: 10px;
  }

  .label {
    a {
      color: white;
      &:hover {
        color: #f2f2f2;
      }
    }
  }

  margin-top: -10px !important;

  .titles {
    position: relative;
    top: 45px;
  }

  h1 {
    padding: 10px;
    color: white;
    font-family: "pressura", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 0.83em;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.75);

    a {
      color: #f2f2f2;//#fe504f;
      width: 90%;

      &:hover {
        color: white;
      }
    }
  }

  h4 {
    margin-top: -3px;

    a {
      color: #333;
      padding: 5px;
      background: rgba(255, 255, 255, 0.75);
      border-bottom-right-radius: 5px;
    }
  }

  .article-body {
    background: white;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .share {
      margin-top: -12px;

      .facebook {
        margin-left: -25px;
        background: #3b5998 !important;
        width: 109%;
        z-index: 999;

        &:hover {
          background: #345189 !important;
        }
      }

      .twitter {
        margin-left: -14px;
        background: #55acee !important;
        width: 108.5%;
        z-index: 999;

        &:hover {
          background: #4e99d4 !important;
        }
      }
    }
  }

  .comment {
    background: #FAFAFA;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
}

.paginate {
  display: inline !important;
  margin: 15px 0 15px 0;
  padding: 10px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  h3 {
    display: inline;
  }

  .text-align-right {
    text-align: right;
  }
}