<%= form_for @category do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited
            this article from being saved:</h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :title, 'Titel' %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description, 'Beskrivning av kategorin' %><br />
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>