<% @categories.each do |category| %>
    <div class="row">
        <p><%= category.title %><br />
        <%= category.slug %>, Senast uppdaterad: <i><%= category.updated_at %></i></p>
        <%= link_to 'Editera kategori', edit_category_path(category)%>
    </div>
<% end %>
<br />
<br />
<%= link_to 'Ny kategori', new_category_path %><br />
<%= link_to 'Till startsidan', root_path %>

