<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @title %> - <%= "Uppskattat.se" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta property="og:image" content="<%= @og_image_url %>">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="256">
    <meta property="og:image:height" content="256">
    <meta property="og:description" content="<%= @og_subtitle %>">
  </head>

  <body>

  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar data-options="sticky_on: large">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Uppskattat.se", root_path %></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <% if current_user %>
              <li class="name"><a>Inloggad som <strong><%= current_user.name %></strong>!</a></li>
              <li><%= link_to "Logga ut", signout_path, id: "sign_out" %></li>
          <% else %>
              <li><%= link_to "Logga in med Facebook", "/auth/facebook", id: "sign_in" %></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <% @category_links.each do |category| %>
            <li><a href="/by_category/<%= category.slug %>"><%= category.title %></a></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>

    <div class="row">
    <div class="large-12 columns">
        <%= yield %>
    </div>
    </div>
  <%= javascript_include_tag "application" %>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50621093-1', 'uppskattat.se');
      ga('send', 'pageview');

  </script>
  </body>
</html>